.product-card {
  background-color: #f7f7fa;
  width: 100;
  padding: 25px;
}

.product-card__img {
  display: block;
}

.product-card__category {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #8c8c8c;
  text-transform: uppercase;
}